body{
  background-color:#854152;
}

.app{
  margin: 0;
}

.heading{
  
  text-align: center;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  font-family:cursive;
  font-size:60px;
  
}

.row{
  margin-left:20% ;
}


.main-buttons{
  background-color: azure;
  float: left;
  width:80px;
  margin-left:13%;
  border-radius:1px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;;
  background-color: aqua;
}